<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <h2 class="text-dark" style="font-size: 1.4em;"><%= __('develop') %></h2>
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<div class="content">
    <div class="container">
        <div class="card card-default">
            <div class="card-header bg-gradient-primary">
                <h3 class="card-title" style="font-size: 1.0em"><strong><%= __('develop') %></strong></h3>
            </div>
            <form class="form-horizontal">
                <div class="card-body">
                    Comming Soon...
                </div>
            </form>
        </div>
    </div><!-- /.container -->
</div>
<!-- /.content -->